.list {
  color: #fff;
  width: 300px;
  margin: 20px auto;
  background-color: #bf07ac;
  border-radius: 5px;
}

.item-card {
  padding: 10px;
  transition: ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-card input {
  background-color: transparent;
  border: 0;
  color: #fff;
  letter-spacing: 0.05em;
  font-size: 1em;
  outline: none;
}

.faicons {
  margin: 0 5px;
  font-size: 15px;
  cursor: pointer;
}
.itemsAnim-enter {
  opacity: 0.01;
}
.itemsAnim-enter .itemsAnim-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.itemsAnim-leave {
  opacity: 1;
}
.itemsAnim-leave .itemsAnim-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
